* {
    padding: 0;
    margin: 0;
}
h1, h2, p, ul {
    width:fit-content;
    margin: 0 auto;
}
h2 {
    padding-bottom: 1em;
}
hr {
    width: 20em;
    margin: 0 auto;
}
nav {
    padding-top: 5em;
    padding-bottom: 1em;
}
ul.ul_nav {
    width: fit-content;
    margin: 0 auto;
    padding:1em;
}
.li_nav {
    list-style: none;
    display: inline;
    padding: 0.6em;
}
.a_nav {
    font-weight: 500;
    text-decoration: none;
    margin: 2em;
}
#overmij {
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.li_nav:hover {
    background-color:rgb(252, 231, 210);
}
a:link {
    color:rgb(0, 0, 0);
}
a:visited {
    color:rgb(0, 0, 0);
}
a:hover {
    color:rgb(0, 0, 0);
}
.container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 3em;
    margin-bottom: 5em;
}
body {
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imgbox {
    padding: 2em;

}
.imgbefore {
    width: 40%;
    margin: 0 auto;
    box-sizing:border-box;
}
.imgafter {
    width: 40%;
    margin: 0 auto;
    box-sizing:border-box;
}
.button {
    border: 2px solid black;
    padding: 15px;
    font-weight: 500px;
    text-decoration: none;
}
ul {
    list-style: none;
}
header {
    padding-top: 5em;
}
#beige-background {
    background-color: rgb(252, 244, 236);
}
